## OS
.DS_Store

## Logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

## Dependencies
node_modules/

## Build output
dist/
build/
.cache/
coverage/

## TypeScript
*.tsbuildinfo

## Environment
.env
.env.*
!.env.example

## Cloudflare
.wrangler/

## Tooling
.turbo/
.pnpm-store/

## Editors
.idea/
.vscode/

## Playwright
test-results/
playwright-report/
